body {
    margin: 0;
    background: #CCCCCC;
}

nav {
    margin:0px;
padding:0px;
background:#CCCCCC;
}

ul{
  margin:0px;
padding:0px;
background:#444;
    list-style: none;
    align-content: center;

}
li{
    height: 40px;
    padding: 20px;
    line-height: 40px;
    font-size: 24px;
    display: inline-block;
    color: #AAAAAA;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}


section {
    margin:0px;
    padding: 20px;
}
header h1 {font-size: 28px;
    margin: 0;

}
header p
{font-style: italic;
font-size: 16px;}

p {font-size: 24px}

footer {
    background:#444444;
    text-align: center;
}
footer p {
    color: #FFFFFF;
    font-size: 14px;

}